<a href="https://colab.research.google.com/github/lqr5252/Lab-1/blob/master/Lab_3_Group_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%reload_ext sql
%sql sqlite:///movieTheater.db

'Connected: @movieTheater.db'

In [2]:
%%sql
DROP TABLE IF EXISTS Outdoor_Lot

 * sqlite:///movieTheater.db
Done.

[]

In [3]:
%%sql
DROP TABLE IF EXISTS Screening_Room

 * sqlite:///movieTheater.db
Done.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS Employees

 * sqlite:///movieTheater.db
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Actors

 * sqlite:///movieTheater.db
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS Casting

 * sqlite:///movieTheater.db
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS Movie

 * sqlite:///movieTheater.db
Done.

[]

In [8]:
%%sql
DROP TABLE IF EXISTS Genre

 * sqlite:///movieTheater.db
Done.

[]

In [9]:
%%sql
CREATE TABLE Outdoor_Lot(lot_number integer primary key, rows_of_cars integer, columns_of_cars integer, projector text, movie text);

 * sqlite:///movieTheater.db
Done.

[]

In [10]:
%%sql
INSERT INTO Outdoor_Lot values(1, 2, 3, 'Epson 111', 'Jumanji');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [11]:
%%sql
INSERT INTO Outdoor_Lot values(2, 3, 3, 'Epson 122', 'Matilda');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [12]:
%%sql
INSERT INTO Outdoor_Lot values(3, 2, 4, 'Epson 111', 'I am Legend');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [13]:
%%sql
INSERT INTO Outdoor_Lot values(4, 5, 2, 'Epson 123', 'Moana');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [14]:
%%sql
INSERT INTO Outdoor_Lot values(5, 3, 3, 'Epson 122', 'The Wolf of Wall Street');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [15]:
%%sql
CREATE TABLE Screening_Room (room_number integer primary key, number_of_seats integer, projector text, screen text, movie text);

 * sqlite:///movieTheater.db
Done.

[]

In [16]:
%%sql
INSERT INTO Screening_Room values(1, 50, 'Espon 222', 'Spectrum','Groundhog Day');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [17]:
%%sql
INSERT INTO Screening_Room values(2, 100, 'Espon 211', 'VMAX','Transformers');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [18]:
%%sql
INSERT INTO Screening_Room values(3, 75, 'Espon 211', 'VMAX','Arrival');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [19]:
%%sql
INSERT INTO Screening_Room values(4, 60, 'Espon 233', 'Spectrum','Modern Times');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [20]:
%%sql
INSERT INTO Screening_Room values(5, 50, 'Espon 222', 'Spectrum','The shining');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [21]:
%%sql
CREATE TABLE Employees (SSN text primary key, first_name text, last_name text, position text, location text);

 * sqlite:///movieTheater.db
Done.

[]

In [22]:
%%sql
INSERT INTO Employees values('156-37-1968', 'John', 'Smith', 'Head Cashier', 1 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [23]:
%%sql
INSERT INTO Employees values('147-90-2389', 'Michael', 'Smith', 'Janitor', 2);

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [24]:
%%sql
INSERT INTO Employees values('811-46-9078', 'Heather', 'Michaels', 'Guest Services', 3);

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [25]:
%%sql
INSERT INTO Employees values('178-38-2019', 'Dale', 'Evanson', 'Janitor', 4);

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [26]:
%%sql
INSERT INTO Employees values('167-45-4500', 'Taylor', 'Hights', 'Cashier', 5);

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [27]:
%%sql
CREATE TABLE Actors(SSN text primary key, first_name text, last_name text, age integer);

 * sqlite:///movieTheater.db
Done.

[]

In [28]:
%%sql
INSERT INTO Actors values('123-54-2367', 'Margot', 'Robbie', 30 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [29]:
%%sql
INSERT INTO Actors values('133-56-7867', 'Dwayne', 'Johnson', 48 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [30]:
%%sql
INSERT INTO Actors values('100-64-6121', 'Will', 'Smith', 52 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [31]:
%%sql
INSERT INTO Actors values('145-89-5555', 'Danny', 'Devito', 76 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [32]:
%%sql
INSERT INTO Actors values('144-33-6512', 'Karen', 'Gillan', 32 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [33]:
%%sql
CREATE TABLE Casting(actor text primary key, movie text, pay_grade text, number_starred_in integer);

 * sqlite:///movieTheater.db
Done.

[]

In [34]:
%%sql
INSERT INTO Casting values('Margot Robbie', 'The Wolf of Wall Street', 'A', 28 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [35]:
%%sql
INSERT INTO Casting values('Dwayne Johnson', 'Moana', 'A', 62 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [36]:
%%sql
INSERT INTO Casting values('Will Smith', 'I Am Legend', 'A', 37 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [37]:
%%sql
INSERT INTO Casting values('Danny Devito', 'Matilda', 'B', 95 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [38]:
%%sql
INSERT INTO Casting values('Karen Gillan', 'Jumanji', 'B', 25 );

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [39]:
%%sql
CREATE TABLE Genre(Genre text primary key, Title text, Duration int, Budget int);

 * sqlite:///movieTheater.db
Done.

[]

In [40]:
%%sql
INSERT INTO Genre values('Horror', 'The Shining', 273, 1500000);

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [41]:
%%sql
INSERT INTO Genre values('Comedy', 'Groundhog Day', 190, 2000000);

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [42]:
%%sql
INSERT INTO Genre values('Action', 'Transformers', 221, 7000000);

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [43]:
%%sql
INSERT INTO Genre values('Sci-Fi', 'Arrival', 205, 1000000);

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [44]:
%%sql
INSERT INTO Genre values('Drama', 'Modern Times', 89, 1500000);

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [45]:
%%sql
CREATE TABLE Movie (IMDB_code text primary key, rating text, year_released integer, genre text);

 * sqlite:///movieTheater.db
Done.

[]

In [46]:
%%sql
INSERT INTO Movie values('54321', 'R', 1980, 'Horror');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [47]:
%%sql
INSERT INTO Movie values('54322', 'PG', 1993, 'Comedy');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [48]:
%%sql
INSERT INTO Movie values('54323', 'G', 1936, 'Drama');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [49]:
%%sql
INSERT INTO Movie values('54324', 'PG-13', 2016, 'Sci-Fi');

 * sqlite:///movieTheater.db
1 rows affected.

[]

In [50]:
%%sql
INSERT INTO Movie values('54325', 'PG-13', 2007, 'Action');

 * sqlite:///movieTheater.db
1 rows affected.

[]

##Question 1

How many movies have a rating of PG or G?

##Question 1 SQL

In [51]:
%%sql
SELECT COUNT(rating) from movie where rating='PG' or rating='G';

 * sqlite:///movieTheater.db
Done.

[(2,)]

##Question 1 Description

This question was important because it is an example of a parent looking up movies in theaters to determine how many movies, they can take their children to that are shown in the screening room. The results matched up to my expectations upon running the query. The results of the query when executed match up to the expectations.

##Question 2

What movie is Dwayne Johnson cast in?

##Question 2 SQL

In [52]:
%%sql
SELECT actor, movie from casting where actor="Dwayne Johnson";

 * sqlite:///movieTheater.db
Done.

[('Dwayne Johnson', 'Moana')]

##Question 2 Description

This question is important because it is an example of an individual searching out one of their preferred actors. This helps narrow down their search as they can watch the movies, they will see their favorite people in. The results of the query when executed match up to the expectations.

##Question 3

Which screening rooms have the most number of seats?

##Question 3 SQL

In [53]:
%%sql
SELECT room_number, number_of_seats from screening_room where number_of_seats order by number_of_seats desc;

 * sqlite:///movieTheater.db
Done.

[(2, 100), (3, 75), (4, 60), (1, 50), (5, 50)]

##Question 3 Description

This question is of importance as it allows the movie theatre staff, workers, etc. to understand and gauge everything they need to know in terms of preparation for the customers and making sure that everything is able to go according to plan. The results of the query when executed match up to the expectations.